*:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
/*body {*/
    /*height: 100%;*/
/*}*/
/*body {*/
    /*background: #333;*/
    /*color: #FFF;*/
/*}*/
#app {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_clock {
  position: relative;
  top: -64px
}

.titulo_later {
  margin-top: 1.5rem
}


.c-clock {
    transform: scale(0.8);
    width: 300px;
    height: 300px;
    background: transparent;
    border-radius: 50%;
    border: 50px solid #95a5a6;
    z-index: 1;
    opacity: 0.9;
    position: relative;
    margin: auto;
    -webkit-box-shadow: inset 0 32px 0 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 32px 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 32px 0 0 rgba(0, 0, 0, 0.2);
}
.c-clock:after {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: grey;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 25px solid #bdc3c7;
    z-index: 3;
}
.c-clock .c-clock__tick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transform-origin: bottom center;
    text-align: center;
}
.c-clock .c-clock__tick.c-clock__tick--hours {
    width: 40px;
    height: 150px;
    background: #bdc3c7;
    z-index: 2;
    transform: translate(-50%, -100%);
    border-radius: 20px 20px 0 0;
    -webkit-transition: transform 2s ease; /* Safari prior 6.1 */
    transition: transform 2s ease;
}
.c-clock .c-clock__tick.c-clock__tick--minutes {
    width: 40px;
    height: 150px;
    background: #bdc3c7;
    z-index: 2;
    transform: translate(-50%, -100%);
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    -webkit-transition: transform 2s ease; /* Safari prior 6.1 */
    transition: transform 2s ease;
}
.c-clock .c-clock__tick.c-clock__tick--minutes:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    -webkit-transition: transform 2s ease; /* Safari prior 6.1 */
    transition: transform 2s ease;
}
.c-clock .c-clock__tick.c-clock__tick--seconds {
    width: 20px;
    height: 150px;
    background: rgb(128, 19, 54);
    z-index: 3;
    transform: translate(-50%, -100%);
    border-radius: 10px;
    -webkit-transition: transform 2s ease; /* Safari prior 6.1 */
    transition: transform 2s ease;
}

@media (max-width: 800px){
  .div_clock {
    position: relative;
    top: 0
  }

  .titulo_later {
    margin-top: 4.5rem
  }


    .c-clock {
        transform: scale(0.8);
        width: 200px;
        height: 200px;
        background: transparent;
        border-radius: 50%;
        border: 35px solid #95a5a6;
        z-index: 1;
        opacity: 0.9;
        position: relative;
        margin: auto;
        -webkit-box-shadow: inset 0 32px 0 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 32px 0 0 rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 32px 0 0 rgba(0, 0, 0, 0.2);
    }
    .c-clock:after {
        content: '';
        display: block;
        width: 60px;
        height: 60px;
        background: grey;
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        border: 15px solid #bdc3c7;
        z-index: 3;
    }
    .c-clock .c-clock__tick {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        transform-origin: bottom center;
        text-align: center;
    }
    .c-clock .c-clock__tick.c-clock__tick--hours {
        width: 20px;
        height: 100px;
        background: #bdc3c7;
        z-index: 2;
        transform: translate(-50%, -100%);
        border-radius: 20px 20px 0 0;
        -webkit-transition: transform 2s ease; /* Safari prior 6.1 */
        transition: transform 2s ease;
    }
    .c-clock .c-clock__tick.c-clock__tick--minutes {
        width: 20px;
        height: 100px;
        background: #bdc3c7;
        z-index: 2;
        transform: translate(-50%, -100%);
        border-radius: 20px 20px 0 0;
        overflow: hidden;
        -webkit-transition: transform 2s ease; /* Safari prior 6.1 */
        transition: transform 2s ease;
    }
    .c-clock .c-clock__tick.c-clock__tick--minutes:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 70px;
        background: rgba(0, 0, 0, 0.35);
        border-radius: 50%;
        -webkit-transition: transform 2s ease; /* Safari prior 6.1 */
        transition: transform 2s ease;
    }
    .c-clock .c-clock__tick.c-clock__tick--seconds {
        width: 10px;
        height: 100px;
        background: rgb(128, 19, 54);
        z-index: 3;
        transform: translate(-50%, -100%);
        border-radius: 10px;
        -webkit-transition: transform 2s ease; /* Safari prior 6.1 */
        transition: transform 2s ease;
    }

}

@media (max-width: 575px){
  .div_clock {
    position: relative;
    top: 0
  }

  .titulo_later {
    margin-top: 4.5rem
  }


    .c-clock {
        transform: scale(0.8);
        width: 200px;
        height: 200px;
        background: transparent;
        border-radius: 50%;
        border: 35px solid #95a5a6;
        z-index: 1;
        opacity: 0.9;
        position: relative;
        margin: auto;
        -webkit-box-shadow: inset 0 32px 0 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 32px 0 0 rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 32px 0 0 rgba(0, 0, 0, 0.2);
    }
    .c-clock:after {
        content: '';
        display: block;
        width: 60px;
        height: 60px;
        background: grey;
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        border: 15px solid #bdc3c7;
        z-index: 3;
    }
    .c-clock .c-clock__tick {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        transform-origin: bottom center;
        text-align: center;
    }
    .c-clock .c-clock__tick.c-clock__tick--hours {
        width: 20px;
        height: 100px;
        background: #bdc3c7;
        z-index: 2;
        transform: translate(-50%, -100%);
        border-radius: 20px 20px 0 0;
        -webkit-transition: transform 2s ease; /* Safari prior 6.1 */
        transition: transform 2s ease;
    }
    .c-clock .c-clock__tick.c-clock__tick--minutes {
        width: 20px;
        height: 100px;
        background: #bdc3c7;
        z-index: 2;
        transform: translate(-50%, -100%);
        border-radius: 20px 20px 0 0;
        overflow: hidden;
        -webkit-transition: transform 2s ease; /* Safari prior 6.1 */
        transition: transform 2s ease;
    }
    .c-clock .c-clock__tick.c-clock__tick--minutes:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 70px;
        background: rgba(0, 0, 0, 0.35);
        border-radius: 50%;
        -webkit-transition: transform 2s ease; /* Safari prior 6.1 */
        transition: transform 2s ease;
    }
    .c-clock .c-clock__tick.c-clock__tick--seconds {
        width: 10px;
        height: 100px;
        background: rgb(128, 19, 54);
        z-index: 3;
        transform: translate(-50%, -100%);
        border-radius: 10px;
        -webkit-transition: transform 2s ease; /* Safari prior 6.1 */
        transition: transform 2s ease;
    }

}
