/* tipografias usadas */
@font-face{
    font-family:tipoum;
    src:url('../fonts/Roboto-Black.ttf');
}

@font-face{
    font-family:tipodois;
    src:url('../fonts/Lato-Bold.ttf');
}

@font-face{
    font-family:tipotres;
    src:url('../fonts/AGaramondPro-Regular.otf');
}

@font-face{
    font-family:tipoquatro;
    src:url('../fonts/Lato-Regular.ttf');
}

@font-face{
    font-family:tipocinco;
    src:url('../fonts/Roboto-Medium.ttf');
}

@font-face{
    font-family:tiposeis;
    src:url('../fonts/Roboto-Bold.ttf');
}

@font-face{
    font-family:tiposete;
    src:url('../fonts/Lato-Light.ttf');
}

@font-face{
    font-family:tipooito;
    src:url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: tiponove;
    src:url('../fonts/Lato-Black.ttf');
}



.user_card {

    font-family: tipoquatro;
    height: 500px;
    width: 350px;
    /*margin-top: auto;*/
    margin-bottom: auto;
    background: #f39c12;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 50%;
    background: #c0392b !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: dimgrey !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}

.input-group {
    width: 70%;!important;
    margin: auto;
}

.titulos_login {
    font-family: tipoum;
}

.legendas_login {
    font-family: tiposete;
}

#rightHalf {
    background: url(../img/fundo_teste.jpg);
    width: 50%;
    position: absolute;
    right: 0;
    height: 100%;
}
